$color-light : #fff;
$color-dark : #000;
$color-blue : #00A1BAFF;
$color-dark-blue: #485DA6FF;
$color-violet : #6D327CFF;
$color-gray: #ddd;
$color-light-gray: #d0d0d0;
$color-yellow: #F9F871;

// breakpoint
$breakpoint-md : 768px;